.tippin-button-yes
{
    /*background-color: #FF9B97;*/
    background: url('chrome-extension://__MSG_@@extension_id__/images/button-lightning.png');
    background-repeat: no-repeat;
    background-size: 18px 18px;
    width: 18px;
    height:18px;
    font-size:9px;
    border-radius:9px;
}

.tippin-button-yes:hover
{
    cursor: pointer;
    background: url('chrome-extension://__MSG_@@extension_id__/images/button-lightning-hover.png');
    background-repeat: no-repeat;
    background-size: 18px 18px;
}

.tippin-button-none
{
    /*background-color: #FF9B97;*/
    /*background: url('chrome-extension://__MSG_@@extension_id__/images/button-none.png');*/
    background: url('chrome-extension://__MSG_@@extension_id__/images/button-lightning.png');
    background-repeat: no-repeat;
    background-size: 18px 18px;
    width: 18px;
    height:18px;
    font-size:9px;
    border-radius:9px;
}

.tippin-button-none:hover
{
    cursor: pointer;
    /*ackground: url('chrome-extension://__MSG_@@extension_id__/images/button-none-hover.png');*/
    background: url('chrome-extension://__MSG_@@extension_id__/images/button-lightning-hover.png');
    background-repeat: no-repeat;
    background-size: 18px 18px;
}